<form class="change-password-form" [formGroup]="changePasswordForm" #changeForm="ngForm" (ngSubmit)="onSubmit(changeForm)">
  <div class="change-password-title">
    Change Password
  </div>
  <md-input-container class="change-password-full-width">
    <input mdInput placeholder="Old Password" type="password" [(ngModel)]="changePasswordUser.oldPassword"
           id="oldPassword" name="oldPassword" formControlName="oldPassword" required>
  </md-input-container>
  <md-input-container class="change-password-full-width">
    <input mdInput placeholder="Password" type="password" [(ngModel)]="changePasswordUser.password"
           id="password" name="password" formControlName="password" required>
  </md-input-container>
  <md-input-container class="change-password-full-width">
    <input mdInput placeholder="Confirm Password" type="password" [(ngModel)]="changePasswordUser.confirmPassword"
           id="confirmPassword" name="confirmPassword" formControlName="confirmPassword" required>
  </md-input-container>
  <div>
    <button md-raised-button class="change-password-submit-button" [disabled]="!changePasswordForm.valid">Change password</button>
  </div>
</form>
