<md-tab-group>
  <md-tab>
    <ng-template md-tab-label>
      Text Posts
    </ng-template>
    <h1>Text Posts</h1>
    <app-text-post-list></app-text-post-list>
  </md-tab>
  <md-tab>
    <ng-template md-tab-label>
      Media Posts
    </ng-template>
    <h1>Media Posts</h1>
    <app-media-post-list></app-media-post-list>
  </md-tab>
  <md-tab>
    <ng-template md-tab-label>
      Polls
    </ng-template>
    <h1>Polls</h1>
    <app-poll-post-list></app-poll-post-list>
  </md-tab>
</md-tab-group>
