.example-card {
  width: 50%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.example-header-image {
  background-image: url('../../../assets/img/shiba1.jpg');
  background-size: cover;
}

.text-card-subtitle {
  font: 200% bold;
  color: 	#000000;
}
