<app-media-post-input [mediaPost]="newMediaPost"
                     [buttonText]="'Add'"
                     (submitButtonClick)="addNewMediaPost($event)">
</app-media-post-input>
<p *ngIf="mediaPosts.length == 0">There is no media posts.</p>

<md-card *ngFor="let mediaPost of mediaPosts.slice().reverse()" class="example-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <button class="delete-button" md-button *ngIf="this.mediaPost.postAuthor.username == this.userDetails.username"
            (click)="onDeleteButtonClick(mediaPost)"><md-icon>delete</md-icon></button>
    <md-card-title>{{mediaPost.postAuthor.username}}</md-card-title>
    <!--<md-card-subtitle class="media-card-subtitle">{{mediaPost.subject}}</md-card-subtitle>-->
  </md-card-header>
  <md-card-content>
    <p class="media-card-subtitle">
      {{mediaPost.subject}}
    </p>
    <p>
      {{mediaPost.description}}
    </p>
    <img *ngFor="let imageUrl of mediaPost.imageUrls" md-card-image src="{{getImageUrl(imageUrl)}}">
    <div *ngIf="mediaPost.videoUrl" class="embed-responsive embed-responsive-16by9">
    <iframe *ngIf="mediaPost.videoUrl" class="embed-responsive-item"  [src]=getSafeUrl(mediaPost.videoUrl) allowfullscreen></iframe>
    </div>
  </md-card-content>
  <md-card-actions>
    <button md-button>LIKE</button>
  </md-card-actions>
</md-card>
