<form class="register-form" [formGroup]="registerForm" #regForm="ngForm" (ngSubmit)="onSubmit(regForm)">
  <div class="register-title">
    Register
  </div>
  <md-input-container class="register-full-width">
    <input mdInput placeholder="E-Mail" type="email" [(ngModel)]="registerUser.email"
           id="email" name="email" formControlName="email" required email>
    <md-error *ngIf="email.invalid && email.touched">
      Enter a valid email address!
    </md-error>
  </md-input-container>
  <md-input-container class="register-full-width">
    <input mdInput placeholder="Username" type="text" [(ngModel)]="registerUser.username"
           id="username" name="username" formControlName="username" required>
    <md-error *ngIf="username.invalid && username.touched">
     Username is required!
    </md-error>
  </md-input-container>
  <md-input-container class="register-full-width">
    <input mdInput placeholder="Password" type="password" [(ngModel)]="registerUser.password"
           id="password" name="password" formControlName="password" required>
    <md-error *ngIf="password.invalid && password.touched">
      Password is required!
    </md-error>
  </md-input-container>
  <md-input-container class="register-full-width">
    <input mdInput placeholder="Confirm Password" type="password" [(ngModel)]="registerUser.confirmPassword"
           id="confirmPassword" name="confirmPassword" formControlName="confirmPassword" required>
  </md-input-container>
  <div>
    <button md-raised-button class="register-submit-button" [disabled]="!registerForm.valid">Register</button>
  </div>
  <p>Already registered? <a routerLink="/login" routerLinkActive="active">Login</a></p>
</form>
